<div class="card">
    <div>
        <h3
            style="font-family: 'Times New Roman', Times, serif; text-align: center; background: blue; color: white; position: relative;">
            Procedures
        </h3>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card" style="padding: 1%;">
            <div class="card-body" class="gth">
                <form [formGroup]="patientdetailsform">
                    <div class="row">

                        <div class="col-lg-3 p-2">
                            <div class="form-group">
                                <label>Date <span style="color: red;"> * </span></label>
                                <input type="date" [max]="currentDate" class="form-control" formControlName="date"
                                    [ngClass]="{'is-invalid': typesubmit && type['date'].errors}"
                                    placeholder="Type something" />
                                <div *ngIf="typesubmit && type['date'].errors" class="invalid-feedback">
                                    <span *ngIf="type['date'].errors.required">This value is required.</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 p-2">
                            <div class="form-group">
                                <label>Select OP Patient ID</label>
                                <ng-select formControlName="old_uhid_no" (change)="selectOpnumber($event)">
                                    <ng-option value="{{a.uh_id}}"
                                        *ngFor="let a of gotAllpatients">{{a.uh_id}}</ng-option>
                                </ng-select>
                            </div>
                        </div>

                        <div class="col-lg-3 p-2">
                            <div class="form-group">
                                <label>Name <span style="color: red;"> * </span></label>
                                <input type="text" class="form-control" formControlName="name"
                                    [ngClass]="{'is-invalid': typesubmit && type['name'].errors}"
                                    placeholder="Type something" />
                                <div *ngIf="typesubmit && type['name'].errors" class="invalid-feedback">
                                    <span *ngIf="type['name'].errors.required">This value is required.</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 p-2">
                            <div class="form-group">
                                <label> Age <span style="color: red;"> * </span></label>
                                <input type="text" class="form-control" formControlName="age"
                                    (keypress)="numericOnly($event)" minlength="1" maxlength="2"
                                    [ngClass]="{'is-invalid': typesubmit && type['age'].errors}"
                                    placeholder="Enter only numbers" />
                                <div *ngIf="typesubmit && type['age'].errors" class="invalid-feedback">
                                    <span *ngIf="type['age'].errors.required">This value is required.</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 p-2">
                            <div class="form-group">
                                <label> Gender <span style="color: red;"> * </span></label>
                                <div>
                                    <ng-select id="inputstate" id="default-select" formControlName="gender"
                                        [ngClass]="{'is-invalid': typesubmit && type['gender'].errors}">
                                        <ng-option value="" disabled Selected>Select</ng-option>
                                        <ng-option value="Male">Male</ng-option>
                                        <ng-option value="Female">Female</ng-option>
                                        <ng-option value="Other">Other</ng-option>
                                    </ng-select>
                                    <div *ngIf="typesubmit && type['gender'].errors" class="invalid-feedback">
                                        <span *ngIf="type['gender'].errors.required">This value is
                                            required.</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 p-2">
                            <div class="form-group">
                                <label> Mobile Number <span style="color: red;"> * </span></label>
                                <input formControlName="phone_number" type="text" minlength="10" maxlength="10"
                                    class="form-control"
                                    [ngClass]="{'is-invalid': typesubmit && type['phone_number'].errors}"
                                    placeholder="Enter only numbers" (keypress)="numericOnly($event)">
                                <div *ngIf="typesubmit && type['phone_number'].errors" class="invalid-feedback">
                                    <span *ngIf="type['phone_number'].errors.required">This value is
                                        required.</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 p-2">
                            <div class="form-group">
                                <label>Address <span style="color: red;"> * </span></label>
                                <textarea class="form-control" formControlName="address" placeholder="Type something"
                                    rows="2"
                                    [ngClass]="{'is-invalid': typesubmit && type['address'].errors}"></textarea>
                                <div *ngIf="typesubmit && type['address'].errors" class="invalid-feedback">
                                    <span *ngIf="type['address'].errors.required">This value is required.</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 p-2">
                            <div class="form-group">
                                <label>Doctor Name<span style="color: red;"> * </span></label>
                                <ng-select formControlName="d_name"
                                    [ngClass]="{'is-invalid': typesubmit && type['d_name'].errors}">
                                    <ng-option value="{{a.doctor_name}}"
                                        *ngFor="let a of gotdoctorname">{{a.doctor_name}}</ng-option>
                                </ng-select>
                                <div *ngIf="typesubmit && type['d_name'].errors" class="invalid-feedback">
                                    <span *ngIf="type['d_name'].errors.required">This value is required.</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 p-2">
                            <div class="form-group">
                                <label> Payment Mode <span style="color: red;"> * </span></label>
                                <ng-select formControlName="payment_mode" (change)="upidr($event)">
                                    <ng-option value="" disabled>Select Payment Mode </ng-option>
                                    <ng-option value="CASH">CASH</ng-option>
                                    <ng-option value="UPI">UPI</ng-option>
                                    <ng-option value="BOTH">BOTH</ng-option>
                                </ng-select>
                            </div>
                        </div>

                        <div class="col-lg-3 p-2" *ngIf="upi_type=='UPI'">
                            <div class="form-group">
                                <label>Transaction ID / Name</label>
                                <input type="text" class="form-control" formControlName="transaction_id"
                                    placeholder="Type Transcation ID" rows="1">
                            </div>
                        </div>

                        <!-- CASH Amount for BOTH -->
                        <div class="col-lg-3 p-2" *ngIf="showTwoAmounts === 'BOTH'">
                            <div class="form-group">
                                <label>CASH Amount<span style="color:red">&nbsp;&nbsp;*</span></label>
                                <div>
                                    <input type="number" min="0" step="100" class="form-control"
                                        formControlName="cash_amount" />
                                </div>
                            </div>
                        </div>

                        <!-- UPI Amount for BOTH -->
                        <div class="col-lg-3 p-2" *ngIf="showTwoAmounts === 'BOTH'">
                            <div class="form-group">
                                <label>UPI Amount<span style="color:red">&nbsp;&nbsp;*</span></label>
                                <div>
                                    <input type="number" min="0" step="100" class="form-control"
                                        formControlName="upi_amount" />
                                </div>
                            </div>
                        </div>


                    </div>

                    <div>
                        <form [formGroup]="ProcedureForm"><br>
                            <h5 style="font-weight: 600;">ADD COSMETIC AND NON-COSMETIC DETAILS</h5>

                            <div class="row">
                                <div class="col-lg-3 p-2">
                                    <div class="form-group">
                                        <label> Procedure Types<span style="color: red;"> * </span></label>
                                        <ng-select (change)="selectproceduretype($event)"
                                            formControlName="procedure_type">
                                            <ng-option *ngFor="let p of gotprocceduredata" [value]="{
                                                'procedure_type': p.procedure_type , 
                                                'procedure_type_id':p.id}">{{p.procedure_type}}</ng-option>
                                        </ng-select>
                                    </div>
                                </div>

                                <div class="col-lg-3 p-2">
                                    <div class="form-group">
                                        <label>Procedure Category Type<span
                                                style="color:red">&nbsp;&nbsp;*</span></label>
                                        <ng-select id="inputstate" id="default-select"
                                            [(ngModel)]="der_aes_procedure_type"
                                            (change)="selectSubcatgoryproceduretype($event)"
                                            formControlName="der_aes_procedure_type">
                                            <ng-option *ngFor="let p of getsubdata" [value]="{
                                                'der_aes_procedure_type': p.der_aes_procedure_type , 
                                                'der_aes_procedure_type_id':p.id}">{{p.der_aes_procedure_type}}
                                            </ng-option>
                                        </ng-select>
                                    </div>
                                </div>

                                <div class="col-lg-3 p-2" *ngIf="showSubcategory">
                                    <div class="form-group">
                                        <label> Procedure Sub Category Type </label>
                                        <ng-select id="inputstate" id="default-select"
                                            [(ngModel)]="sub_der_aes_procedure_type"
                                            (change)="selectDoublcatgoryproceduretype($event)"
                                            formControlName="sub_der_aes_procedure_type">
                                            <ng-option value="{{p.sub_der_aes_procedure_type}}"
                                                *ngFor="let p of getsubcatgorydata">{{p.sub_der_aes_procedure_type}}
                                            </ng-option>
                                        </ng-select>

                                    </div>
                                </div>

                                <div class="col-lg-3 p-2">
                                    <div class="form-group">
                                        <label> Amount <span style="color: red;"> * </span></label>
                                        <input type="text" class="form-control" formControlName="amount"
                                            (keypress)="numericOnly($event)" placeholder="Enter only numbers" />
                                    </div>
                                </div>

                                <div class="col-lg-2">
                                    <button
                                        style="background-color: brown;color: white;width: 65px;height: 36px;font-size: 16px;border: none;border-radius: 5px;margin-top:26px;"
                                        (click)="addproceduredata()">ADD</button>
                                </div>

                                <div class="col-lg-12" style="overflow: auto;">
                                    <br>
                                    <div *ngIf="addprocedurearray.length">
                                        <table class="table table-bordered mb-0 w-100">
                                            <thead>
                                                <tr style="background-color:blue;font-size: 17px;color: white;">
                                                    <th style="color: white;">S.NO</th>
                                                    <th style="color: white;">Procedure Types</th>
                                                    <th style="color: white;">Procedure Category Type</th>
                                                    <th style="color: white;">Procedure Sub Category Type</th>
                                                    <th style="color: white;">Total Amount</th>
                                                    <th style="color: white;">Remove</th>
                                                </tr>
                                                <tr *ngFor="let i of addprocedurearray;let y = index">
                                                    <td>{{y+1}}</td>
                                                    <td>{{i.procedure_type || '-'}}</td>
                                                    <td>{{i.der_aes_procedure_type || '-'}}</td>
                                                    <td>{{i.sub_der_aes_procedure_type || '-'}}</td>
                                                    <td>{{i.amount || '-'}}</td>
                                                    <td>

                                                        <i style="font-size: 20px;cursor: pointer;"
                                                            class="fa-solid fa-trash" (click)="remove(y,i.amount)"></i>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td>
                                                        Total
                                                        Amount</td>
                                                    <td>
                                                        {{grandtotal + " " +
                                                        "/-"}}</td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td>
                                                        <div *ngIf="addprocedurearray.length" style="width: 200px;">
                                                            <label>Select GST (%)</label>
                                                            <ng-select type="text" placeholder="Type something"
                                                                [formControl]="ngSelectControl"
                                                                (change)="addGSTToOverall($event,0)">
                                                                <ng-option aria-selected="true" value="0"> Select The
                                                                    Option</ng-option>
                                                                <ng-option value="0"> 0 %</ng-option>
                                                                <ng-option value="5"> 5 %</ng-option>
                                                                <ng-option value="8"> 8 %</ng-option>
                                                                <ng-option value="12">12 %</ng-option>
                                                                <ng-option value="18">18 %</ng-option>
                                                                <ng-option value="28">28 %</ng-option>
                                                            </ng-select>
                                                        </div>
                                                    </td>
                                                    <td>{{gst_amount + " " + "%"}}</td>
                                                </tr>

                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td>
                                                        GST Tax Amount
                                                    </td>
                                                    <td>{{gst_percentage |
                                                        number:'1.2-2'}}</td>
                                                </tr>

                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td>
                                                        CGST 
                                                    </td>
                                                    <td>{{gst_percentage/2}}</td>
                                                </tr>

                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td>
                                                        SGST 
                                                    </td>
                                                    <td>{{gst_percentage/2}}</td>
                                                </tr>

                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td>
                                                        Total Taxable Amount
                                                    </td>
                                                    <td style="font-size: 20px;font-weight: 600;">{{totalAmountAftrgst
                                                        + " " +
                                                        "/-"}}</td>
                                                </tr>
                                            </thead>
                                        </table>
                                        <br>
                                        <br>
                                    </div>
                                </div>

                            </div>

                        </form>
                    </div>

                    <div class="row">
                        <div class="form-group m-3" style="text-align: center;">
                            <button *ngIf="addprocedurearray.length" type="submit"
                                style="background-color: blue;color: white;width: 98px;height: 38px;font-size: 16px;border: none;border-radius: 5px;"
                                (click)="submitForm()"> Submit </button>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>


<div class="my-overlay" *ngIf="showSpinner">
    <span class="loader"></span>
    <h5 style="color: white;padding-top: 5px;">Loading</h5>
</div>