<div class="row">
          <div>
        <h3 style="font-family: 'Times New Roman', Times, serif; text-align: center;background: blue; color:white;">
Operation Returns
            <span style="float: right;">
                <a href="javaScript:;" style="color: white;background-color:blue;
                text-decoration: none;font-size: 25px;border-radius: 20px;">

                </a> &nbsp;&nbsp;
            </span>
        </h3>
    </div>
 
</div>
<br>

<div class="row">
    <div class="col-lg-12">
        <div class="card" style="padding:1%">
            <div style="display: flex;align-items: center;justify-content: space-between;">
              <!--  <div>
                    <div style="cursor: pointer;background-color: #ae92c5;
                    border: none;
                    width: 160px;
                    height: 40px;
                    text-align: center;
                    padding: 10px;
                    border-radius: 6px;
                    color: white;
                    font-size: 16px;" (click)="clcick()"><i class="fa-solid fa-bars"></i>
                        Stock Tracking
                    </div>
                </div>-->
            </div>

            <mat-tab-group>
                <mat-tab label="Add OT Returns">


                    <div class="card-body" class="gth">

                        <form [formGroup]="sourceForm">
                            <div class="row">
                                <div style="padding: 3px;text-align: left;margin: 10px;">
                                    <h5 style="font-weight: 600;"> Enter OT Return Details :</h5>
                                </div>

                                <div class="col-lg-3">
                                    <div class="form-group p-3">
                                        <label>Source<span style="color:red">&nbsp;&nbsp;*</span></label>
                                        <ng-select formControlName="source_of_inventory"
                                            [ngClass]="{'is-invalid': submitted && valid['source_of_inventory'].errors }">
                                            <ng-option value="Operation Theatre">Operation Theatre</ng-option>
                                            <ng-option value="Old Patient Return">Old Patient Return</ng-option>

                                        </ng-select>
                                        <div *ngIf="submitted && valid['source_of_inventory'].errors"
                                            class="invalid-feedback">
                                            <div *ngIf="valid['source_of_inventory'].errors['required']">Source is
                                                required
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-lg-3">
                                    <div class="form-group p-3">
                                        <label>Date of Entry<span style="color:red">&nbsp;&nbsp;*</span></label>
                                        <input [max]="currentDate" type="date" class="form-control"
                                            formControlName="invoice_date" placeholder="Type something"
                                            [ngClass]="{'is-invalid': submitted && valid['invoice_date'].errors }" />
                                        <div *ngIf="submitted && valid['invoice_date'].errors" class="invalid-feedback">
                                            <div *ngIf="valid['invoice_date'].errors['required']">Date is required</div>
                                        </div>
                                    </div>
                                </div>



                                <div class="col-lg-3">
                                    <div class="form-group p-3">
                                        <label>NOI<span style="color:red">&nbsp;&nbsp;*</span></label>
                                        <input (keypress)="numericOnly($event)" readonly type="text"
                                            class="form-control" formControlName="noi" placeholder="Type something"
                                            [ngClass]="{'is-invalid': submitted && valid['noi'].errors }" />
                                        <div *ngIf="submitted && valid['noi'].errors" class="invalid-feedback">
                                            <div *ngIf="valid['noi'].errors['required']">required</div>
                                        </div>
                                    </div>
                                </div>



                                <div class="col-lg-3">
                                    <div class="form-group p-3">
                                        <label>GrandTotal<span style="color:red">&nbsp;&nbsp;*</span></label>
                                        <input (keypress)="numericOnly($event)" readonly type="text"
                                            class="form-control" formControlName="total_grandtotal"
                                            placeholder="Type something"
                                            [ngClass]="{'is-invalid': submitted && valid['total_grandtotal'].errors }" />
                                        <div *ngIf="submitted && valid['total_grandtotal'].errors"
                                            class="invalid-feedback">
                                            <div *ngIf="valid['total_grandtotal'].errors['required']">required
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <div
                            style="background-color: blue;color: white;padding: 3px;text-align: center;margin: 10px;">
                            <h5> Enter Medicine Details</h5>
                        </div>

                        <br>

                        <div class="row">
                            <form [formGroup]="medicineSalesForm">
                                <div class="row">

                                    <div class="col-lg-3">
                                        <div class="form-group p-2">
                                            <label>Medicine Name<span style="color:red">&nbsp;&nbsp;*</span></label>

                                            <ng-select formControlName="medicine_name"
                                                (change)="selectedMedicne($event)"
                                                [ngClass]="{'is-invalid': typesubmit2 && type2['medicine_name'].errors}">
                                                <ng-option *ngFor="let p of allMedicinesData"
                                                    [value]="{'medicine_name': p.medicine_name , 'medicine_id':p.id , 'hsncode':p.hsn_code,
                                    'category_id':p.category_id ,'category_name':p.category_name,'schedule_drugs':p.schedule_drugs}">{{p.medicine_name}}
                                                </ng-option></ng-select>
                                            <div *ngIf="typesubmit2 && type2['medicine_name'].errors"
                                                class="invalid-feedback">
                                                <span *ngIf="type2['medicine_name'].errors.required">This value is
                                                    required.</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3">
                                        <div class="form-group p-2">
                                            <label>Medicine Batch No<span style="color:red">&nbsp;&nbsp;*</span></label>
                                            <ng-select formControlName="batch_no"
                                                (change)="selectedBatchnoMedicine($event)"
                                                [ngClass]="{'is-invalid': typesubmit2 && type2['batch_no'].errors}">
                                                <ng-option *ngFor="let b of medicineBatchData"
                                                    [value]="{'medicine_id':b.medicine_id ,  medicine_name :b.medicine_name , medicine_batchno : b.batch_no}">{{b.batch_no}}
                                                </ng-option></ng-select>
                                            <div *ngIf="typesubmit2 && type2['batch_no'].errors"
                                                class="invalid-feedback">
                                                <span *ngIf="type2['batch_no'].errors.required">This value is
                                                    required.</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-2">
                                        <div class="form-group p-2">
                                            <label>Expiry Date<span style="color:red">&nbsp;&nbsp;*</span></label>
                                            <input readonly type="text" class="form-control"
                                                formControlName="expiry_date"
                                                [ngClass]="{'is-invalid': typesubmit2 && type2['expiry_date'].errors}" />
                                            <div *ngIf="typesubmit2 && type2['expiry_date'].errors"
                                                class="invalid-feedback">
                                                <span *ngIf="type2['expiry_date'].errors.required">This value is
                                                    required.</span>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-lg-2">
                                        <div class="form-group p-2">
                                            <label>Present Available Tabs<span
                                                    style="color:red">&nbsp;&nbsp;*</span></label>
                                            <input readonly type="text" class="form-control"
                                                formControlName="availability_tabs"
                                                [ngClass]="{'is-invalid': typesubmit2 && type2['availability_tabs'].errors}" />
                                            <div *ngIf="typesubmit2 && type2['availability_tabs'].errors"
                                                class="invalid-feedback">
                                                <span *ngIf="type2['availability_tabs'].errors.required">This value is
                                                    required.</span>
                                            </div>
                                        </div>
                                    </div>



                                    <div class="col-lg-2">
                                        <div class="form-group p-2">
                                            <label>MRP Rate / Tab<span style="color:red">&nbsp;&nbsp;*</span></label>
                                            <input readonly type="text" class="form-control"
                                                formControlName="mrp_rate_per_tab"
                                                [ngClass]="{'is-invalid': typesubmit2 && type2['mrp_rate_per_tab'].errors}" />
                                            <div *ngIf="typesubmit2 && type2['mrp_rate_per_tab'].errors"
                                                class="invalid-feedback">
                                                <span *ngIf="type2['mrp_rate_per_tab'].errors.required">This value is
                                                    required.</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-2">
                                        <div class="form-group p-2">
                                            <label>GST (%)<span style="color:red">&nbsp;&nbsp;*</span></label>
                                            <input readonly type="text" class="form-control"
                                                formControlName="gst_percentage_each_drug"
                                                [ngClass]="{'is-invalid': typesubmit2 && type2['gst_percentage_each_drug'].errors}" />
                                            <div *ngIf="typesubmit2 && type2['gst_percentage_each_drug'].errors"
                                                class="invalid-feedback">
                                                <span *ngIf="type2['gst_percentage_each_drug'].errors.required">This
                                                    value
                                                    is
                                                    required.</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-2">
                                        <div class="form-group p-2">
                                            <label>Quantity of Tabs<span style="color:red">&nbsp;&nbsp;*</span></label>
                                            <input type="text" class="form-control" (keypress)="numericOnly($event)"
                                                formControlName="quantity" (keyup)="calculateRintoQnty($event)"
                                                [ngClass]="{'is-invalid': typesubmit2 && type2['quantity'].errors}" />
                                            <div *ngIf="typesubmit2 && type2['quantity'].errors"
                                                class="invalid-feedback">
                                                <span *ngIf="type2['quantity'].errors.required">This value is
                                                    required.</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-2">
                                        <div class="form-group p-2">
                                            <label>Total Amount(Rs)<span style="color:red">&nbsp;&nbsp;*</span></label>
                                            <input readonly type="text" class="form-control"
                                                (keypress)="numericOnly($event)" formControlName="total_amount"
                                                [ngClass]="{'is-invalid': typesubmit2 && type2['total_amount'].errors}" />
                                            <div *ngIf="typesubmit2 && type2['total_amount'].errors"
                                                class="invalid-feedback">
                                                <span *ngIf="type2['total_amount'].errors.required">This value is
                                                    required.</span>
                                            </div>
                                        </div>
                                    </div>


                                </div>

                            </form>


                            <div class="col-lg-1">
                                <button (click)="evetn()" class="btn mt-3"
                                    style="background-color: blue;color: white;">Add</button>
                            </div>

                            <div class="col-lg-12" style="overflow: auto;">
                                <br>
                                <div *ngIf="medicinearr.length">
                                    <table class="table table-bordered mb-0 w-100">
                                        <thead>
                                            <tr style="background-color:blue;font-size: 17px;color: white;">
                                                <th style="color: white;">S.No</th>
                                                <th style="color: white;">Medicine Name</th>
                                                <th style="color: white;">Batch No</th>
                                                <th style="color: white;">Exp Date</th>
                                                <th style="color: white;">MRP Rate / Tab</th>
                                                <th style="color: white;">Quantity</th>
                                                <th style="color: white;">GST %</th>
                                                <th style="color: white;">Total Amount</th>
                                                <th style="color: white;">Remove</th>
                                            </tr>
                                            <tr *ngFor="let i of medicinearr;let y = index">
                                                <td>{{y+1}}</td>
                                                <td>{{i.medicine_name}}</td>
                                                <td>{{i.batch_no}}</td>
                                                <td>{{i.expiry_date | date:'MM/YYYY'}}</td>
                                                <td>{{i.mrp_rate_per_tab}}</td>
                                                <td>{{i.quantity}}</td>
                                                <td>{{i.gst_percentage_each_drug}}</td>
                                                <td>{{i.total_amount}}</td>
                                                <td>
                                                    <i style="font-size: 20px;cursor: pointer;"
                                                        class="fa-solid fa-trash" (click)="delete(y)"></i>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td>
                                                    <b>Grand Total
                                                        Amount</b>
                                                </td>
                                                <td>
                                                    <b>{{grandtotal}}</b>
                                                </td>

                                            </tr>
                                        </thead>
                                    </table>
                                    <br>
                                    <br>
                                </div>
                            </div>
                            <br>
                            <div class="text-center">
                                <button *ngIf="medicinearr.length" type="submit" style="background-color: blue;
                                color: white;
                                width: 98px;
                                height: 38px;
                                font-size: 16px;
                                border: none;
                                border-radius: 5px;" (click)="typeSubmitInventory()">Submit</button>
                            </div>

                        </div>


                    </div>
                </mat-tab>

                <mat-tab label="OT Returns Reports">

                    <div class="row mt-1 mb-1">
                        <div class="col-xl-12">
                            <div class="card border-top border-0 border-4" style="padding: 1%;">

                                <div class="card-body" class="gth">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-4 col-sm-4">
                                                <div class="form-group mb-4">
                                                    <label>Invoice Date<span style="color: red;">*</span></label>
                                                    <input (change)="changeDates($event)" type="date"
                                                        class="form-control">

                                                </div>
                                            </div>

                                        </div>

                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="card-body">
                                <div class="row toppad" style="background: white;">
                                    <div class="mat-elevation-z8" #TABLE style="width:100%">
                                        <div class="row buttonhide">
                        <div class="col">
                            <mat-form-field class="sea">
                                <mat-label>Search</mat-label>
                                <input matInput (keyup)="applyFilter($event)"   #input>
                            </mat-form-field>
                        </div>
                                            <div class="col-2">
                                                <div class="btns">
                                                    <button mat-raised-button class="btn btn-secondary m-1"
                                                        (click)="exportTable('ExampleMaterialTable','OT Returns')">Excel</button>
                                                    <button mat-raised-button style="background-color: blue;
                                                    color: white;
                                                    width: 75px;
                                                    height: 38px;
                                                    font-size: 16px;
                                                    border: none;
                                                    border-radius: 5px;" (click)="otReturnPrints()">Print</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="example-container">

                                            <table mat-table matTableExporter #tab mat-table [dataSource]="dataSource"
                                                matSort #exporter="matTableExporter" id="ExampleMaterialTable">
                                                <ng-container matColumnDef="i">
                                                    <th mat-header-cell *matHeaderCellDef mat-sort-header
                                                        [ngStyle]="headerclass">S.No
                                                    </th>
                                                    <td mat-cell *matCellDef="let row; let i=index" class="centre">
                                                        {{row.i}}</td>
                                                    <td mat-footer-cell *matFooterCellDef></td>
                                                </ng-container>

                                                <ng-container matColumnDef="supplier_name">
                                                    <th mat-header-cell *matHeaderCellDef mat-sort-header
                                                        [ngStyle]="headerclass">
                                                        Source Name</th>
                                                    <td mat-cell *matCellDef="let row" class="centre">
                                                        <span class="para">{{row.supplier_name}}</span>
                                                    </td>
                                                    <td mat-footer-cell *matFooterCellDef></td>
                                                </ng-container>

                                                <ng-container matColumnDef="invoice_number">
                                                    <th mat-header-cell *matHeaderCellDef mat-sort-header
                                                        [ngStyle]="headerclass">
                                                        Bill No</th>
                                                    <td mat-cell *matCellDef="let row" class="centre">
                                                        <span class="para">{{row.invoice_number}}</span>
                                                    </td>
                                                    <td mat-footer-cell *matFooterCellDef></td>
                                                </ng-container>

                                                <ng-container matColumnDef="invoice_date">
                                                    <th mat-header-cell *matHeaderCellDef mat-sort-header
                                                        [ngStyle]="headerclass">
                                                        Date</th>
                                                    <td mat-cell *matCellDef="let row" class="centre">
                                                        <span class="para">{{row.invoice_date |
                                                            date:'dd-MM-YYYY'}}</span>
                                                    </td>
                                                    <td mat-footer-cell *matFooterCellDef></td>
                                                </ng-container>

                                                <ng-container matColumnDef="no_of_items">
                                                    <th mat-header-cell *matHeaderCellDef mat-sort-header
                                                        [ngStyle]="headerclass">
                                                        Total Items</th>
                                                    <td mat-cell *matCellDef="let row" class="centre">
                                                        <span class="para">{{row.no_of_items}}</span>
                                                    </td>
                                                    <td mat-footer-cell *matFooterCellDef>
                                                        <span style="font-weight: 800;font-size: 18px;">Grand
                                                            Total</span>
                                                    </td>
                                                </ng-container>
                                                <ng-container matColumnDef="grandtotal">
                                                    <th mat-header-cell *matHeaderCellDef mat-sort-header
                                                        [ngStyle]="headerclass">
                                                        Total Net Amount</th>
                                                    <td mat-cell *matCellDef="let row" class="centre">
                                                        <span class="para">{{row.grandtotal | number:'1.2-2'}}</span>
                                                    </td>
                                                    <td mat-footer-cell *matFooterCellDef style="text-align: center;">
                                                        <span style="font-weight: 800;font-size: 18px;">{{getTotalCost()
                                                            |
                                                            currency:'INR':'symbol':'1.0-0'}} </span>
                                                    </td>
                                                </ng-container>





                                                <ng-container matColumnDef="view">
                                                    <th mat-header-cell *matHeaderCellDef mat-sort-header
                                                        [ngStyle]="headerclass">
                                                        View</th>
                                                    <td mat-cell *matCellDef="let row; let i=index" class="centre">
                                                        <i (click)="showAllpurchaseItems(tempoForItemsList, row)"
                                                            style="font-size: 20px;cursor: pointer;"
                                                            class="fa-solid fa-eye"></i>
                                                    </td>
                                                    <td mat-footer-cell *matFooterCellDef></td>
                                                </ng-container>





                                                <ng-container matColumnDef="select1">
                                                    <th mat-header-cell *matHeaderCellDef>
                                                        <div class="cell">
                                                            <ng-select [(ngModel)]="reset" class="selectid"
                                                                appendTo="body" (change)="columnfilterdata($event, 0)"
                                                                [searchable]="true" [clearable]="true">
                                                                <ng-option [value]="{key:'i' ,value:item.i}"
                                                                    *ngFor="let item of clonedata; let int = index">
                                                                    {{item.i}}
                                                                </ng-option>
                                                            </ng-select>
                                                        </div>
                                                    </th>
                                                </ng-container>


                                                <tr mat-header-row *matHeaderRowDef="nextdisplayedColumns;sticky: true">
                                                </tr>
                                                <tr mat-row
                                                    *matRowDef="let row; columns: nextdisplayedColumns;sticky: true">
                                                </tr>
                                                <tr mat-header-row *matHeaderRowDef="selectColumns;sticky: true"
                                                    class="example-second-header-row" [ngClass]="{'hide': !hideselect}">
                                                <tr mat-footer-row *matFooterRowDef="nextdisplayedColumns"></tr>
                                            </table>
                                        </div>
                                    </div>
                                    <br><br>
                                </div>
                            </div>
                        </div>
                    </div>


                </mat-tab>
            </mat-tab-group>

        </div>
    </div>
</div>



<ng-template #tempoForItemsList let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">OT Return Items</h5>
        <button type="button" (click)="modalDismiss()" class="btn-close" aria-hidden="true"></button>
    </div>
    <div class="modal-body">

        <div class="text-end">
            <button mat-raised-button style="background-color: blue;
            color: white;
            width: 98px;
            height: 38px;
            font-size: 16px;
            border: none;
            border-radius: 5px;" (click)="otitemsList()">Print</button>
        </div>

        <div class="m-2" style="overflow: auto;">
            <table class="table table-bordered">
                <thead style="background-color: blue;">
                    <tr>
                        <th style="color: white;">S.No</th>
                        <th style="color: white;">Medicine Name</th>
                        <th style="color: white;">HSN Code</th>
                        <th style="color: white;">Batch No</th>
                        <th style="color: white;">Each Tab MRP Cost</th>
                        <th style="color: white;">GST %</th>
                        <th style="color: white;">Total Tabs</th>
                        <th style="color: white;">Expiry Date</th>
                        <th style="color: white;">Total Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="tr" *ngFor="let i of otItemsdata;let y=index;">
                        <td>{{y+1}}</td>
                        <td>{{i.medicine_name}}</td>
                        <td>{{i.hsncode}}</td>
                        <td>{{i.batch_no}}</td>
                        <td>{{i.eachcost | number:'1.2-2'}}</td>
                        <td>{{i.gst_per + "%"}}</td>
                        <td>{{i.total_tabs}}</td>
                        <td>{{i.expirydate}}</td>
                        <td>{{i.with_gst_price}}</td>
                    </tr>
                </tbody>
            </table>
        </div>



    </div>
</ng-template>



<div class="my-overlay" *ngIf="showSpinner">
    <div class="loader"></div>
    <h5 style="color: white;padding: 5px;">Please Wait...</h5>
</div>