<br>
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0">Old-OP-Patients</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Old-OP-Patients</a></li>
                    <li class="breadcrumb-item active"> Add-Patient </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<br>

<div class="row">
    <div class="col-lg-12">
        <div class="card" style="padding:1%">
            <div class="btn-1" (click)="clcick()"><i class="fa-solid fa-bars"></i>
                &nbsp; &nbsp;Add-patients
            </div>
            <div class="card-body" class="gth">
                <form [formGroup]="op_old" (ngSubmit)="typeSubmit()">
                    <div class="row">
                        <div class="col-lg-4"> <br>
                            <div class="form-group">
                                <label>Mobile Number<span style="color: red;"> * </span></label>
                                <input formControlName="phone_number" type="text" minlength="10" maxlength="10"
                                    [ngClass]="{'is-invalid': typesubmit && type['phone_number'].errors}"
                                    class="form-control" (keypress)="numericOnly($event)"
                                    placeholder="Enter only numbers">
                                <div *ngIf="typesubmit && type['phone_number'].errors" class="invalid-feedback">
                                    <span *ngIf="type['phone_number'].errors.required">This value is
                                        required.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4"> <br>
                            <div class="form-group">
                                <label>Patient Type</label>
                                <input formControlName="patient_type" type="text" class="form-control">

                                <!-- <select class="form-control" formControlName="patient_type" readonly>
                                    <option value="OLD">OLD</option>
                                    <option value="NEW">NEW</option>
                                </select> -->
                            </div>
                        </div>
                        <div class="col-lg-4"> <br>
                            <div class="form-group">
                                <label>UHID<span style="color: red;"> * </span></label>
                                <input style="text-transform: uppercase;" formControlName="uh_id" type="text"
                                    [ngClass]="{'is-invalid': typesubmit && type['uh_id'].errors}" class="form-control"
                                    placeholder="Enter only numbers">
                                <div *ngIf="typesubmit && type['uh_id'].errors" class="invalid-feedback">
                                    <span *ngIf="type['uh_id'].errors.required">This value is
                                        required.</span>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-lg-4"> <br>
                            <div class="form-group">
                                <label>Sur Name</label>
                                <input formControlName="sur_name" type="text"
                                    [ngClass]="{'is-invalid': typesubmit && type['sur_name'].errors}"
                                    class="form-control">
                                <div *ngIf="typesubmit && type['sur_name'].errors" class="invalid-feedback">
                                    <span *ngIf="type['sur_name'].errors.required">This value is
                                        required.</span>
                                </div>
                            </div>
                        </div> -->
                        <div class="col-lg-4"> <br>
                            <div class="form-group">
                                <label>Name<span style="color: red;"> * </span></label>
                                <input formControlName="name" type="text"
                                    [ngClass]="{'is-invalid': typesubmit && type['name'].errors}" class="form-control">
                                <div *ngIf="typesubmit && type['name'].errors" class="invalid-feedback">
                                    <span *ngIf="type['name'].errors.required">This value is
                                        required.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4"> <br>
                            <div class="form-group">
                                <label> Age <span style="color: red;"> * </span></label>
                                <input formControlName="age" type="text" minlength="1" maxlength="2"
                                    class="form-control" [ngClass]="{'is-invalid': typesubmit && type['age'].errors}"
                                    placeholder="Enter only numbers" (keypress)="numericOnly($event)">
                                <div *ngIf="typesubmit && type['age'].errors" class="invalid-feedback">
                                    <span *ngIf="type['age'].errors.required">This value is required.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4"> <br>
                            <div class="form-group">
                                <label> Gender <span style="color: red;"> * </span></label>
                                <div>
                                    <ng-select id="inputstate" id="default-select" formControlName="gender"
                                        [ngClass]="{'is-invalid': typesubmit && type['gender'].errors}">
                                        <ng-option value="" disabled Selected>Select</ng-option>
                                        <ng-option value="Male">Male</ng-option>
                                        <ng-option value="Female">Female</ng-option>
                                        <ng-option value="Other">Other</ng-option>
                                    </ng-select>
                                    <div *ngIf="typesubmit && type['gender'].errors" class="invalid-feedback">
                                        <span *ngIf="type['gender'].errors.required">This value is required.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4"> <br>
                            <div class="form-group">
                                <label> Arrived Date <span style="color: red;"> * </span></label>
                                <input (keydown)="disableManualInput($event)" [max]="currentDate"
                                    formControlName="arrived_date" type="date" class="form-control"
                                    [ngClass]="{'is-invalid': typesubmit && type['arrived_date'].errors}"
                                    placeholder="Enter only numbers">
                                <div *ngIf="typesubmit && type['arrived_date'].errors" class="invalid-feedback">
                                    <span *ngIf="type['arrived_date'].errors.required">This value is required.</span>

                                </div>
                            </div>
                        </div>
                    </div>




                    <div class="row">
                        <div class="form-group m-3" style="text-align: center;">
                            <button type="submit" class="btn btn-primary me-1"> Submit </button>
                        </div>
                    </div>

                </form>

            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card-body">
            <div class="row toppad" style="background: white;">
                <div class="mat-elevation-z8" #TABLE style="width:100%">
                    <!-- serch header start -->

                    <div class="row buttonhide">
                        <div class="col-3">
                            <mat-form-field class="sea">
                                <mat-label>Search</mat-label>
                                <input matInput (keyup)="applyFilter($event)"   #input>
                            </mat-form-field>
                        </div>

                        <div class="col-2 search">
                            <i class="material-icons cust-icon para" style="color: #a19a98;"
                                (click)="originalandtoggle(1)">find_in_page</i>
                            <i class="material-icons cust-icon para" style="color: #a19a98;"
                                (click)="originalandtoggle(0)">refresh</i>
                        </div>

                        <div class="col-2 cent_btn mt-2">
                            <div class="colorbtns color_custm">
                                <button class="colorbtns colo" (click)="changecolor('blue')"> </button>
                                <button class="colorbtns colo1" (click)="changecolor('rgb(0, 255, 242)')"></button>
                                <button class="colorbtns colo2" (click)="changecolor('rgb(255, 174, 0)')"></button>
                                <button class="colorbtns colo3" (click)="changecolor('rgb(255, 0, 170)')"></button>
                                <input type="color" id="color1" name="favcolor" value="blue"
                                    (change)="this.changeCustomColor($event)" (keyup)="this.changeCustomColor($event)">
                            </div>
                        </div>

                        <div class="col-4">
                            <mat-paginator [pageSizeOptions]="[25,50,100,500]" showFirstLastButton>
                            </mat-paginator>
                        </div>

                        <div class="col-1">
                            <div class="btns">
                                <button mat-raised-button class="btn btn-secondary m-1"
                                    (click)="exportTable('ExampleMaterialTable','Op-old-patients')">Excel</button>

                            </div>
                        </div>

                    </div>
                    <!-- serch header end -->
                    <div class="example-container">
                        <table mat-table matTableExporter #tab mat-table [dataSource]="dataSource" matSort
                            #exporter="matTableExporter" id="ExampleMaterialTable">

                            <ng-container matColumnDef="i">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="headerclass">S.NO
                                </th>
                                <td mat-cell *matCellDef="let row; let i=index" class="centre">{{row.i}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="phone_number">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="headerclass">
                                    Phone Number</th>
                                <td mat-cell *matCellDef="let row" class="centre">
                                    <span class="para">{{row.phone_number}}</span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="patient_type">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="headerclass">
                                    Patient Type
                                </th>
                                <td mat-cell *matCellDef="let row; let i=index" class="centre">
                                    {{row.patient_type}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="uh_id">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="headerclass">
                                    UH ID</th>
                                <td mat-cell *matCellDef="let row; let i=index" class="centre">
                                    {{row.uh_id}}
                                </td>
                            </ng-container>


                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="headerclass">
                                    Full Name</th>

                                <td mat-cell *matCellDef="let row; let i=index" class="centre">{{
                                    row.name}}</td>
                                <!-- <td mat-cell *matCellDef="let row; let i=index" class="centre">
                                    <span *ngIf="row.sur_name">{{ row.sur_name }} </span>
                                    {{ row.name }}
                                </td> -->
                            </ng-container>


                            <ng-container matColumnDef="doctor_dept">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="headerclass">
                                    Department</th>
                                <td mat-cell *matCellDef="let row; let i=index" class="centre">
                                    {{row.doctor_dept}}</td>
                            </ng-container>


                            <ng-container matColumnDef="age">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="headerclass">
                                    Age</th>

                                <td mat-cell *matCellDef="let row; let i=index" class="centre">
                                    {{row.age}}
                                </td>
                            </ng-container>


                            <ng-container matColumnDef="gender">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="headerclass">
                                    Gender</th>

                                <td mat-cell *matCellDef="let row; let i=index" class="centre">
                                    {{row.gender}}
                                </td>
                            </ng-container>


                            <ng-container matColumnDef="date">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="headerclass">
                                    Arrived Date</th>

                                <td mat-cell *matCellDef="let row; let i=index" class="centre">
                                    {{row.date}}
                                </td>
                            </ng-container>


                            <!-- Select Start -->

                            <ng-container matColumnDef="select1">
                                <th mat-header-cell *matHeaderCellDef>
                                    <div class="cell">
                                        <ng-select [(ngModel)]="reset" class="selectid" appendTo="body"
                                            (change)="columnfilterdata($event, 0)" [searchable]="true"
                                            [clearable]="true">
                                            <ng-option [value]="{key:'i' ,value:item.i}"
                                                *ngFor="let item of clonedata; let int = index">
                                                {{item.i}}
                                            </ng-option>
                                        </ng-select>
                                    </div>
                                </th>
                            </ng-container>

                            <ng-container matColumnDef="select2">
                                <th mat-header-cell *matHeaderCellDef>
                                    <div class="cell">
                                        <ng-select [(ngModel)]="reset" class="select" appendTo="body"
                                            (change)="columnfilterdata($event, 0)" [searchable]="true"
                                            [clearable]="true">
                                            <ng-option [value]="{key:'phone_number' ,value:item.phone_number}"
                                                *ngFor="let item of clonedata ">
                                                {{item.phone_number}}
                                            </ng-option>
                                        </ng-select>
                                    </div>
                                </th>
                            </ng-container>

                            <ng-container matColumnDef="select3">
                                <th mat-header-cell *matHeaderCellDef>
                                    <div class="cell">
                                        <ng-select [(ngModel)]="reset" class="select" appendTo="body"
                                            (change)="columnfilterdata($event, 0)" [searchable]="true"
                                            [clearable]="true">
                                            <ng-option [value]="{key:'patient_type' ,value:item.patient_type}"
                                                *ngFor="let item of clonedata ">
                                                {{item.patient_type}}
                                            </ng-option>
                                        </ng-select>
                                    </div>
                                </th>
                            </ng-container>


                            <ng-container matColumnDef="select4">
                                <th mat-header-cell *matHeaderCellDef>
                                    <div class="cell">
                                        <ng-select [(ngModel)]="reset" class="select" appendTo="body"
                                            (change)="columnfilterdata($event, 0)" [searchable]="true"
                                            [clearable]="true">
                                            <ng-option [value]="{key:'uh_id' ,value:item.uh_id}"
                                                *ngFor="let item of clonedata">
                                                {{item.uh_id}}
                                            </ng-option>
                                        </ng-select>
                                    </div>
                                </th>
                            </ng-container>


                            <ng-container matColumnDef="select5">
                                <th mat-header-cell *matHeaderCellDef>
                                    <div class="cell">
                                        <ng-select [(ngModel)]="reset" class="select" appendTo="body"
                                            (change)="columnfilterdata($event, 0)" [searchable]="true"
                                            [clearable]="true">
                                            <ng-option [value]="{key:'name' ,value:item.name}"
                                                *ngFor="let item of clonedata">
                                                {{item.name}}
                                            </ng-option>
                                        </ng-select>
                                    </div>
                                </th>
                            </ng-container>

                            <ng-container matColumnDef="select6">
                                <th mat-header-cell *matHeaderCellDef>
                                    <div class="cell">
                                        <ng-select [(ngModel)]="reset" class="select" appendTo="body"
                                            (change)="columnfilterdata($event, 0)" [searchable]="true"
                                            [clearable]="true">
                                            <ng-option [value]="{key:'age' ,value:item.age}"
                                                *ngFor="let item of clonedata">
                                                {{item.age }}
                                            </ng-option>
                                        </ng-select>
                                    </div>
                                </th>
                            </ng-container>


                            <ng-container matColumnDef="select7">
                                <th mat-header-cell *matHeaderCellDef>
                                    <div class="cell">
                                        <ng-select [(ngModel)]="reset" class="select" appendTo="body"
                                            (change)="columnfilterdata($event, 0)" [searchable]="true"
                                            [clearable]="true">
                                            <ng-option [value]="{key:'gender' ,value:item.gender}"
                                                *ngFor="let item of clonedata">
                                                {{item.gender}}
                                            </ng-option>
                                        </ng-select>
                                    </div>
                                </th>
                            </ng-container>

                            <ng-container matColumnDef="select8">
                                <th mat-header-cell *matHeaderCellDef>
                                    <div class="cell">
                                        <ng-select [(ngModel)]="reset" class="select" appendTo="body"
                                            (change)="columnfilterdata($event, 0)" [searchable]="true"
                                            [clearable]="true">
                                            <ng-option [value]="{key:'date' ,value:item.date}"
                                                *ngFor="let item of clonedata">
                                                {{item.date}}
                                            </ng-option>
                                        </ng-select>
                                    </div>
                                </th>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="nextdisplayedColumns;sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; columns: nextdisplayedColumns;sticky: true">
                            </tr>
                            <tr mat-header-row *matHeaderRowDef="selectColumns;sticky: true"
                                class="example-second-header-row" [ngClass]="{'hide': !hideselect}">
                                <!-- Footer end -->
                        </table>
                    </div>
                </div>
                <br><br>
            </div>
        </div>
    </div>
</div>