<div class="card">
    <div>
        <h3 style="font-family: 'Times New Roman', Times, serif; text-align: center;background: blue; color: white;">
            Add Type
            <span style="float: right;">
                <a href="javaScript:;" style="color: black;background-color:white;
                text-decoration: none;font-size: 25px;border-radius: 20px;">
                </a> &nbsp;&nbsp;
            </span>
        </h3>
    </div>
</div>
<div class="row">
    <div class="card" style="padding: 1%;">
        <div class="card-body" class="gth">
            <form [formGroup]="addemployeedetailsform" (ngSubmit)="submitroomtype()">
                <div class="row">
                    <div class="col-12 col-lg-4 col-xl-4">
                        <div class="form-group">
                            <label for="input-2">Room Type<span style="color: red;">*</span></label>
                            <input type="text" class="form-control" id="input-2" formControlName="name"
                                [ngClass]="{'is-invalid': submitted && f['name'].errors }">
                            <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
                                <div *ngIf="f['name'].errors.required">Room Type is required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 col-xl-4">
                        <label for="input-2"></label>
                        <br>
                        <button type="submit" style="background-color: blue;
                            color: white;
                            width: 98px;
                            height: 38px;
                            font-size: 16px;
                            border: none;
                            border-radius: 5px;">ADD</button>
                    </div>
                </div>
                <br><br>
            </form>
        </div>
    </div>
</div>




<div class="row">
    <div class="col-12">
        <div class="card-body">
            <div class="row toppad" style="background: white;">
                <div class="mat-elevation-z8" #TABLE style="width:100%">
                    <!-- serch header start -->
                    <div class="row buttonhide">
                        <div class="col">
                            <mat-form-field class="sea">
                                <mat-label>Search</mat-label>
                                <input matInput (keyup)="applyFilter($event)" #input>
                            </mat-form-field>
                        </div>



                        <div class="col">
                            <div class="btns">
                                <button mat-raised-button class="btn btn-secondary m-1" (click)="exportTable()">
                                    Excel
                                </button>

                                <!-- ✅ HIDDEN TABLE ONLY FOR EXCEL EXPORT (NO EDIT/DELETE) -->
                                <table id="exportTable" style="display:none">
                                    <thead>
                                        <tr>
                                            <th>S.No</th>
                                            <th>Room Type</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr *ngFor="let row of dataSource?.filteredData; let idx = index">
                                            <td>{{ idx + 1 }}</td>
                                            <td>{{ row.roomtype }}</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <!-- <button mat-raised-button class="btn btn-secondary m-1"
                                    (click)="exporter.exportTable('xlsx', {fileName:'Roomtype report', sheet: 'sheet_name', Props: {Author: 'Talha'}})">Excel</button> -->
                                <!-- <button mat-raised-button class="btn btn-secondary"
                                    (click)="downloadPdf(dataSource)">PDF</button> -->
                            </div>
                        </div>
                    </div>
                    <!-- serch header end -->
                    <div class="example-container">
                        <table mat-table matTableExporter #tab mat-table [dataSource]="dataSource" matSort
                            #exporter="matTableExporter" id="ExampleMaterialTable">
                            <ng-container matColumnDef="i">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="headerclass"
                                    style="width:30px"> S.No
                                </th>
                                <td mat-cell *matCellDef="let row; let i=index" class="centre">{{row.i}}</td>
                            </ng-container>
                            <ng-container matColumnDef="roomtype">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="headerclass">
                                    Room Type</th>
                                <td mat-cell *matCellDef="let row" class="centre">
                                    <span class="para">{{row.roomtype}}</span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="edit">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="headerclass">Edit </th>
                                <td style="background-color: white;" mat-cell *matCellDef="let data" class="centre">
                                    <i style="cursor: pointer;font-size: 20px;" class="fa fa-pencil"
                                        (click)="editdata(data,openmodel)" aria-hidden="true"></i>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="delete">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="headerclass">Delete
                                </th>
                                <td mat-cell *matCellDef="let data" class="centre">
                                    <i style="cursor: pointer;font-size: 20px;" class="fa fa-trash bg_clr"
                                        (click)="delete(data)" aria-hidden="true"></i>
                                </td>
                            </ng-container>

                            <!-- Select Start -->
                            <ng-container matColumnDef="selectSlno" sticky:true>
                                <th mat-header-cell *matHeaderCellDef>
                                    <div class="cell">
                                        <ng-select [(ngModel)]="reset" class="selectid" appendTo="body"
                                            (change)="columnfilterdata($event, 0)" [searchable]="true"
                                            [clearable]="true">
                                            <ng-option [value]="{key:'i' ,value:item.i}"
                                                *ngFor="let item of clonedata; let int = index">
                                                {{item.i}}
                                            </ng-option>
                                        </ng-select>
                                    </div>
                                </th>
                            </ng-container>
                            <ng-container matColumnDef="select1">
                                <th mat-header-cell *matHeaderCellDef>
                                    <div class="cell">
                                        <ng-select [(ngModel)]="reset" class="select" appendTo="body"
                                            (change)="columnfilterdata($event, 0)" [searchable]="true"
                                            [clearable]="true">
                                            <ng-option [value]="{key:'roomtype',value:item.roomtype}"
                                                *ngFor="let item of clonedata | removeDuplicateJsonObject : 'roomtype'; let int = index">
                                                {{item.roomtype}}
                                            </ng-option>
                                        </ng-select>
                                    </div>
                                </th>
                            </ng-container>


                            <tr mat-header-row *matHeaderRowDef="nextdisplayedColumns;sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; columns: nextdisplayedColumns;sticky: true"></tr>
                            <tr mat-header-row *matHeaderRowDef="selectColumns;sticky: true"
                                class="example-second-header-row" [ngClass]="{'hide': !hideselect}">
                                <!-- Footer end -->
                        </table>
                    </div>
                </div>
                <br><br>
            </div>
        </div>
    </div>

</div>


<ng-template #openmodel let-modal>
    <div>
        <div class="modal-header">
            <h5 class="modal-title mt-0 ">Edit Add Type Form</h5>
            <button style="background-color: transparent;border: 0px;" type="button" (click)="modalDismiss()">
                <i style="font-size: 24px;" class="fa fa-window-close" aria-hidden="true"></i></button>
        </div>
        <div class="modal-body" class="gth">
            <form [formGroup]="updateform" style="height: 125px;">
                <div class="row">
                    <div class="col-12 col-lg-12 col-xl-12">
                        <div class="form-group">
                            <label for="input-2">Room Type <span style="color: red;">*</span></label>
                            <input type="text" class="form-control" formControlName="update_roomtype" required
                                placeholder="Enter RoomType"
                                [ngClass]="{'is-invalid': submitted && f.update_roomtype.errors }">
                            <div *ngIf="submitted && f.update_roomtype.errors" class="invalid-feedback">
                                <div *ngIf="f.update_roomtype.errors.required">Name is required
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-12 col-xl-12">
                        <br>
                        <button (click)="editaddroomtype()" style="background-color: blue;
                        color: white;
                        width: 98px;
                        height: 38px;
                        font-size: 16px;
                        border: none;
                        border-radius: 5px;margin-left: 170px;">Update</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</ng-template>

<div style="display: flex;flex-direction: column;justify-content: center;align-items: center;" *ngIf="showSpinner">
    <div class="for-spin">
        <span class="loader"></span>
        <p style="text-align: center; font-weight: bold; color: black; font-size: 20PX; padding-top: 25PX;">Please Wait
        </p>
    </div>
</div>