.loader {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #0077b6;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  border-bottom: 4px solid #0077b6;
  border-left: 4px solid transparent;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.my-overlay {
  left: 0 !important;
  top: 0 !important;
  z-index: 10000 !important;
  width: 100% !important;
  height: 100% !important;
  position: fixed !important;
  background-color: rgba(0, 0, 0, 0.9) !important;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-content: space-between;
  opacity: 0.6;
}


table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {

  padding: 8px;
}

th {
  background-color: blue;
  text-align: left;
}

.button-group {
  display: flex;
  justify-content: center; /* Center the buttons horizontally */
  gap: 10px; /* Space between buttons */
}

 
.notification {
  background-color: #555;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  position: relative;
  display: inline-block;

}

.notification:hover {
  background: rgb(205, 202, 202);
  color: black;
}

.notification .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px 10px;
  border-radius: 50%;
  background-color: red;
  color: white;
}

span {
  font-size: 14px;
  cursor: pointer;
  margin-left: 10px;
  color: white;
}
